<div class="container" style="text-align:center; background-color: gray;">
    <div>
        <h1>
            Welcome to {{ title }}!
        </h1><br><br><br><br>
        <div class="row">
            <div class="col-md-6" style="align-items: center; margin-left: 300px;">
                <h4> This is the github Search app ,users can search other github users ,resperetories and project,THis app bring githu users together</h4><br><br><br><br>
            </div>
        </div>
    </div>
    <div class="app">
        <router-outlet></router-outlet>



        <router-outlet></router-outlet>
    </div>
</div>