<h1 style="text-align: center;">Github Profile</h1>
<br><br><br>
<div class="container">
    <div class="form-group">

        <label for="name">
            <h4><u>Search for github user here : </u></h4>
        </label>
        <input type="text" name="githubUser" placeholder="Type Github Username" [(ngModel)]="userName"><br>
        <button type="submit" class="btn btn-success" (click)="submitUser()">Search</button>
    </div>


    <blockquote class="text-center text-lg">
        <ul>
            <li appHighlight><br>
                <p><strong>{{user.name}}</strong></p>
                <img src="{{user.avatar_url}}">
                <br><br>

                <footer>
                    <cite>
                        <div class="row">
                            <div class="col-md-6">
                                <h4><u>Followers</u>:{{user.followers}}</h4><br>
                                <h4><u>Following:</u>{{user.following}}</h4><br>
                                <h4><u>Total Repositories</u>:{{user.public_repos}}</h4><br><br>
                                <a style="color: white;" href="{{user.html_url}}" target="_blank">Click here to see the Repositories
                                    details</a><br><br>
                            </div>
                            <div class="col-md-6">
                                <!-- <ul>
                                    <li *ngFor="let repo of repository">{{repo.name}} <br>{{repo.description}} <br><br>
                                    </li>
                                </ul> -->
                            </div>
                        </div>
                    </cite>
                </footer>
            </li>
        </ul>
    </blockquote>



    <p><u>Pipe</u>: <u>Data requested on</u>: {{user.completeDate|date|date :"fullDate"|uppercase}} at Timezone:
        {{user.completeDate|date|date :"mediumTime"}} </p><br>

</div>